*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: red;
  padding: 10px;
}

h2 {
    text-align: right;
  color: blue;
  font-size: 30px;
}

h3{
    color: green;
}